@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Vina+Sans&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: #f69425;
    color: #070c25;
    padding: 0;
    margin: 0;
}

header {
    background-color: #070c25;
    color: #f65802;
    display: grid;
    grid-template-columns: 150px auto;
}

footer{
    background-color: #070c25;
    color: #f65802;
    padding: 20px 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;

}

.institute_name{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: "Oswald";
}

.contact{
    padding-right: 100px;
    text-align: center;
    font-family: "Oswald";
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover {
    color: #265f53;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 50px;
    
}

nav a:hover{
    background-color: #f69425;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: "Oswald";
}

.logo {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-left: 15px;
}

.last_logo {
    width: 100px;
    margin-right: 600px;
    
}

.hero_image{
    width: 350px;
    margin-left: 500px;
}

.prophet{
    width:280px;
}

.attend{
    width:1000px;
    height: 300px;
    margin-right: 100px;
    margin-left: 180px;
    margin-top: 100px;
}

.box_message {
    height: 300px;
    background-color: #265f53;
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.home_title{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Montserrat";
    margin-top: -70px;
}
.prophet_text{
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 350px;
    justify-content: center;
    font-size: 30px;
    font-family: "Oswald";
}
.prophet{
    float: left;
    gap: 10px;
    margin-left: 20px;
    border: 10px solid #265f53;
    margin-top: 50px;
}
.prophet_message{
    font-size: 30px;
    color: #0a0061;
    font-family: "Oswald";
    text-align: center;
    padding-top: 50px;
}

.prophet_grid{
    background-color: #265f53;
    height: 500px;
}

.attend_title{
    font-family: "Oswald";
    margin-left: 300px;
    font-size: 50px;
    margin-top: -170px;
    color: #f65802;
    -webkit-text-stroke: #070c25;
    -webkit-text-stroke-width: 1px;
}

.attend_subtitle{
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.msg_1{
    font-family: "Oswald";
    margin-left: 300px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_2{
    font-family: "Oswald";
    margin-left: 350px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_3{
    font-family: "Oswald";
    margin-left: 400px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_4{
    font-family: "Oswald";
    margin-left: 450px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_5{
    font-family: "Oswald";
    margin-left: 500px;
    font-size: 25px;
    background-color: #070c25;
}

#button_box{
    text-align: center;
    padding-bottom: 30px;
    background-color: #265f53;
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 50px;
    font-size: 25px;
    font-family: "Oswald";
    border-radius: 5px;
}

.know{
    color: white;
    
}
#button_box:hover{
    background-color: #0a0061;
    color: #f65802;
}

.subtitle_2{
    text-align: center;
    padding-bottom: 10px;
    font-family: "Oswald";
    font-size: 25px;
}

.home_grid{
    margin-bottom: 100px;
}
/*Activities Page*/

.activities_grid{
    margin-bottom: 200px;
}

.photos{
    background-color: #265f53;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.photos:hover{
    background-color: #0a0061;
}

.activities_main{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Abril Fatface";
    border: 10px solid #070c25;
    margin-top: 5px;
    
}

.activities_text{
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 550px;
    justify-content: center;
    font-size: 30px;
    font-family: "Oswald";
}

.activities_title{
    font-size: 30px;
    color: #0a0061;
    font-family: "Oswald";
    text-align: center;
    padding-top: 50px;
}

.volleyball{
    width: 430px;
    height: 430px;
    float: left;
    gap: 10px;
    margin-left: 60px;
    border: 10px solid #265f53;
    margin-top: 50px;
}

.past{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Oswald";
    background-color: #265f53;
    margin-left: 540px;
    margin-right: 540px;
    border-radius: 10px;
}

.past_msg{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Oswald";
}
.act1{
    width: 350px;
    margin-left: 100px;
    padding-right: 30px;
}

.act2{
    width: 350px;
    padding-right: 30px;
    height: 350px;
}

.act3{
    width: 350px;
}

.upcoming{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Oswald";
    background-color: #265f53;
    margin-left: 520px;
    margin-right: 520px;
    margin-top: 80px;
    border-radius: 10px;
}

.upcoming_msg{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Oswald";
}

.act4{
    width: 350px;
    margin-left: 100px;
    padding-right: 30px;
}

.act5{
    width: 350px;
    padding-right: 30px;
    height: 350px;
}

.act6{
    width: 350px;
}

/*Classes Page*/

.class_title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Abril Fatface";
    border: 10px solid #070c25;
    margin-top: 5px;  
}

.class_text{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Oswald";
    margin-right: 50px;
    margin-left: 50px;
    background-color: #265f53;
}

.class_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.preach {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 30px;
}

.preach_title{
    text-align: center;
    font-family: "Oswald";
    font-size: 30px;
    margin-right: 50px;
}

.preach_time,
.preach_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
}

.preach_time{
    margin-top: -25px;
}

.faith {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 50px;
    
}

.faith_title{
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.faith_time,
.faith_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
}

.faith_time{
    margin-top: -25px;
}

.launching {
    grid-column: 3 / 4; 
    grid-row: 1 / 2;
    margin-right: 50px;
}

.launching_title{
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.launching_time,
.launching_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

.launching_time{
    margin-top: -25px;
}

.faith_card,
.preach_card,
.launching_card {
    width: 350px;
    height: 400px;
    border: 5px solid #265f53;
}

.teachings {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 50px;
}

.teachings_title,
.faith2_title {    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.teachings_time,
.teachings_teacher,
.faith2_time,
.faith2_teacher {
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

.new_time,
.teachings_time,
.faith2_time {
    margin-top: -25px;
}

.new {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 30px;
}

.new_title{
    text-align: center;
    font-family: "Oswald";
    margin-right: 50px;
    font-size: 30px;
}

.new_time,
.new_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
}

.faith2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-right: 30px;
    
}

.teachings_card,
.new_card,
.faith2_card {
    width: 350px;
    height: 400px;
    border: 5px solid #265f53;
}

.faith_on {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 50px;
}

.launching_on_title,
.faith_on_title {   
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.launching_on_time,
.launching_on_teacher,
.faith_on_time,
.faith_on_teacher{

    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

.new_on {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-left: 30px;
}

.new_on_title{
    text-align: center;
    font-family: "Oswald";
    margin-right: 50px;
    font-size: 30px;
}

.new_on_time,
.new_on_teacher,
.new_on_time2{

    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
}

.launching_on {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-right: 30px;
    
}

.new_on_time,
.new_on_time2,
.launching_on_time,
.faith_on_time{

    margin-top: -25px;
}

.preach_reg,
.new_reg,
.new_on_reg{
    margin-top: -20px;
    text-align: center;
    margin-right: 30px;
    background-color: #265f53;
    height: 1px;
    border-radius: 10px;
    padding-top: 20px;
}

.faith_reg,
.teachings_reg,
.faith_on_reg{
    margin-top: -20px;
    text-align: center;
    margin-right: 30px;
    background-color: #265f53;
    height: 1px;
    border-radius: 10px;
    padding-top: 20px;
}

.faith_reg:hover,
.teachings_reg:hover,
.faith_on_reg:hover{
    color: white;
    background-color: #0a0061;
}

.preach_reg:hover,
.new_reg:hover,
.new_on_reg:hover{
    color: white;
    background-color: #0a0061;
}

.launching_reg,
.faith2_reg,
.launching_on_reg{
    margin-top: -20px;
    text-align: center;
    margin-right: 30px;
    background-color: #265f53;
    height: 1px;
    border-radius: 10px;
    padding-top: 20px;
}

.launching_reg:hover,
.faith2_reg:hover,
.launching_on_reg:hover{
    color: white;
    background-color: #0a0061;
}

.faith_on_card,
.new_on_card,
.launching_on_card {
    width: 350px;
    height: 400px;
    border: 5px solid #265f53;
}

.class_grid{
    margin-bottom: 100px;
}


/*Leadership Page*/

.leader_grid{
    margin-bottom: 100px;
}

.leader_title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Abril Fatface";
    border: 10px solid #070c25;
    margin-top: 5px;
}

.main_leader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    background-color: #0a0061;
    border-radius: 15px;
}

.explanation{
    background-color: #265f53;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.explanation_text{
    font-family: "Oswald";
    font-size: 30px;
}

.presidency{
    font-size: 30px;
    font-family: "Oswald";
    margin-left: 650px;
    margin-right: 400px;
    background-color: #265f53;
    border-radius: 5px;
    margin-bottom: -100px;
    color: white;
    

}

.president_main,
.vice_president_main,
.secretary_main{
    margin-top: 100px;
    margin-left: 20px;
}

.coordinator_main{
    margin-left: 15px;
}

.coordinator{
    text-align: center;
    background-color: #265f53;
    font-family: "Oswald";
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
}

.name_adonai{
    text-align: center;
    font-family: "Oswald";
    font-size: 25px;
    margin-top: 5px;
    color: white;
    border: 5px solid white;
}

.president,
.vice_president,
.secretary{
    text-align: center;
    background-color: #265f53;
    font-family: "Oswald";
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
}

.name_oliver,
.name_pedro,
.name_laleska{
    text-align: center;
    font-family: "Oswald";
    font-size: 20px;
    margin-top: 5px;
    color: white;
    border: 5px solid white;
}

.secretary_main{
    margin-right: 20px;
}

.committees_title{
    font-size: 30px;
    font-family: "Oswald";
    margin-left: 500px;
    margin-right: 500px;
    background-color: #265f53;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
    
}

.leader_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.act_com_title,
.mid_com_title,
.reg_com_title,
.miss_com_title,
.wel_com_title{
    background-color: #265f53;
    font-family: "Oswald";
    font-size: 30px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
    
    
}

.miss_com_title{
    margin-right: 60px;
    margin-left: 50px;
}

.wel_com_title{
    margin-right: 80px;
    margin-left: 70px;
}

.act_com_title{
    margin-right: 70px;
    margin-left: 60px;
}

.mid_com_title{
    margin-right: 80px;
    margin-left: 80px;
}

.reg_com_title{
    margin-right: 50px;
    margin-left: 50px;
}

.act_leader,
.mid_leader,
.reg_leader{
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 80px;
    margin-bottom: 5px;
}

.act_leader,
.act_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.mid_leader,
.mid_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.reg_leader,
.reg_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.miss_leader,
.miss_super,
.wel_leader,
.wel_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.wel_super{
    margin-left: 120px;
}

.act_super{
    margin-left: 120px;
}

.mid_super,
.miss_super{
    margin-left: 120px;
}

.reg_super{
    margin-left: 120px;
}

.name_raymom,
.name_bruna2{
    margin-left: 100px;
    font-size: 20px;
    font-family: "Oswald";
    margin-top: 5px;
    color: white;
}

.name_natalia,
.name_bruna1,
.name_gaby{
    margin-left: 100px;
    font-size: 20px;
    font-family: "Oswald";
    margin-top: 5px;
    color: white;
}

.name_luana,
.name_danilo,
.name_douglas,
.name_karol,
.name_daniel{
    margin-left: 130px;
    font-size: 20px;
    font-family: "Oswald";
    margin-top: 5px;
    color: white;
}

.activities_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.midia_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.registration_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.missionary_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.welfare_com{
    grid-column: 3 / 4;
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 100px;
    padding-bottom: 20px;
}

.adonai{
    width: 300px;
    height: 400px;
    border: 5px solid #f65802;
}

.oliver{
    width: 300px;
    height: 300px;
    border: 5px solid #f65802;
}
.pedro{
    width: 300px;
    height: 300px;
    border: 5px solid #f65802;
}
.laleska{
    width: 300px;
    height: 300px;
    border: 5px solid #f65802;
}
.raymom,
.daniel{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.bruna2{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.natalia{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.bruna1{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.luana{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.danilo{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.gaby{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.douglas{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.karol{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}

.act_members,
.mid_members,
.reg_members,
.miss_members,
.wel_members{
    background-color: #265f53;
    padding: 15px;
    border-radius: 5px;
}

/*Activities Committee*/

.sidenav{
    height: 100%;
    width: 160px;
    z-index: 1;
    background-color: #070c25;
    overflow-x: hidden;
    padding-top: 20px;
    grid-column: 1/2;
    grid-row: 1/9;
    margin-top: -25px;
}

.sidenav a{
    padding: 8px 10px 6px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    font-family: "Oswald";
}


.content_act{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.name_cmt{
    text-align: center;
    font-size: 25px;
    font-family: "Oswald";
    margin-left: -100px;
    margin-top: 0px;
    margin-bottom: 40px;
}


.act_cmt:hover{
    background-color: #f65802;
}

.med_cmt:hover{
    background-color: #f65802;
}

.reg_cmt:hover{
    background-color: #f65802;
}

.miss_cmt:hover{
    background-color: #f65802;
}

.wel_cmt:hover{
    background-color: #f65802;
}

.raymom_cmt, .bruna2_cmt,
.alice_cmt, .daniel_cmt,
.edinaldo_cmt, .gidinilson_cmt, 
.gregory_cmt, .izabele_cmt,
.kevin_cmt, .rodolfo_cmt,
.ruan_cmt, .lorena_cmt,
.thiffany_cmt, .ticiane_cmt,
.emanuel_cmt {
    height: 250px;
    width: 250px;
    border: 3px solid #265f53;
    margin-top: 30px;
}

.title_act_cmt{
    text-align: center;
    background-color: #265f53;
    margin-top: -34px;
}

.explanation_act{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    font-family: "Oswald";
    margin-top: -20px;
}

.act_cmt, .med_cmt,
.reg_cmt, .miss_cmt,
.wel_cmt {
    margin-top: 60px;
}

.text_act_cmt{
    font-family: "April Fatface";
    font-size: 50px;
}

/*Photos Page*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .ph_act{
    width: 500px;
    height: 500px;
  }