@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Vina+Sans&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: #f69425;
    color: #070c25;
    padding: 0;
    margin: 0;
}

header {
    background-color: #070c25;
    color: #f65802;
    display: grid;
    grid-template-columns: 150px auto;
}

footer{
    background-color: #070c25;
    color: #f65802;
    padding: 20px 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;

}

.institute_name{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: "Oswald";
}

.contact{
    padding-right: 100px;
    text-align: center;
    font-family: "Oswald";
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover {
    color: #265f53;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 50px;
    
}

nav a:hover{
    background-color: #f69425;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: "Oswald";
}

.logo {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-left: 15px;
}

.last_logo {
    width: 100px;
    margin-right: 600px;
    
}

.hero_image{
    width: 350px;
    margin-left: 500px;
}

.prophet{
    width:280px;
}

.attend{
    width:1000px;
    height: 300px;
    margin-right: 100px;
    margin-left: 180px;
    margin-top: 100px;
}

.box_message {
    height: 300px;
    background-color: #265f53;
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.home_title{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Montserrat";
    margin-top: -70px;
}
.prophet_text{
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 350px;
    justify-content: center;
    font-size: 30px;
    font-family: "Oswald";
}
.prophet{
    float: left;
    gap: 10px;
    margin-left: 20px;
    border: 10px solid #265f53;
    margin-top: 50px;
}
.prophet_message{
    font-size: 30px;
    color: #0a0061;
    font-family: "Oswald";
    text-align: center;
    padding-top: 50px;
}

.prophet_grid{
    background-color: #265f53;
    height: 500px;
}

.attend_title{
    font-family: "Oswald";
    margin-left: 300px;
    font-size: 50px;
    margin-top: -170px;
    color: #f65802;
    -webkit-text-stroke: #070c25;
    -webkit-text-stroke-width: 1px;
}

.attend_subtitle{
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.msg_1{
    font-family: "Oswald";
    margin-left: 300px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_2{
    font-family: "Oswald";
    margin-left: 350px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_3{
    font-family: "Oswald";
    margin-left: 400px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_4{
    font-family: "Oswald";
    margin-left: 450px;
    font-size: 25px;
    background-color: #070c25;
}

.msg_5{
    font-family: "Oswald";
    margin-left: 500px;
    font-size: 25px;
    background-color: #070c25;
}

#button_box{
    text-align: center;
    padding-bottom: 30px;
    background-color: #265f53;
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 50px;
    font-size: 25px;
    font-family: "Oswald";
    border-radius: 5px;
}

.know{
    color: white;
    
}
#button_box:hover{
    background-color: #0a0061;
    color: #f65802;
}

.subtitle_2{
    text-align: center;
    padding-bottom: 10px;
    font-family: "Oswald";
    font-size: 25px;
}

.home_grid{
    margin-bottom: 100px;
}
/*Activities Page*/

.activities_grid{
    margin-bottom: 200px;
}

.photos{
    background-color: #265f53;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.photos:hover{
    background-color: #0a0061;
}

.activities_main{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Abril Fatface";
    border: 10px solid #070c25;
    margin-top: 5px;
    
}

.activities_text{
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 550px;
    justify-content: center;
    font-size: 30px;
    font-family: "Oswald";
}

.activities_title{
    font-size: 30px;
    color: #0a0061;
    font-family: "Oswald";
    text-align: center;
    padding-top: 50px;
    margin-top: -20px;
}

.volleyball{
    width: 430px;
    height: 430px;
    float: left;
    gap: 10px;
    margin-left: 60px;
    border: 10px solid #265f53;
    margin-top: 50px;
}

.past{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Oswald";
    background-color: #265f53;
    margin-left: 520px;
    margin-right: 520px;
    border-radius: 10px;
}

.past_msg{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Oswald";
}
.act1{
    width: 350px;
    margin-left: 100px;
    padding-right: 30px;
}

.act2{
    width: 350px;
    padding-right: 30px;
    height: 350px;
}

.act3{
    width: 350px;
}

.upcoming{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Oswald";
    background-color: #265f53;
    margin-left: 520px;
    margin-right: 520px;
    margin-top: 80px;
    border-radius: 10px;
}

.upcoming_msg{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Oswald";
}

.act4{
    width: 350px;
    margin-left: 100px;
    padding-right: 30px;
}

.act5{
    width: 350px;
    padding-right: 30px;
    height: 350px;
}

.act6{
    width: 350px;
}

/*Classes Page*/

.class_title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Abril Fatface";
    border: 10px solid #070c25;
    margin-top: 5px;  
}
.button_sem{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.semester{
    font-family: "Oswald";
    background-color: #070c25;
    border-radius: 5px;
    padding: 20px;
}

.semester:hover{
    background-color: #0a0061;
}

.class_text{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Oswald";
    margin-right: 50px;
    margin-left: 50px;
    background-color: #265f53;
}

.class_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.class2024_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.expia{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-left: 30px;
}

.revelations{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-left: 30px;
}
.jesus{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    margin-left: 30px;
}

.mormon{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    margin-left: 30px;
    margin-bottom: 50px;
}
.preach {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 30px;
}

.preach_title{
    text-align: center;
    font-family: "Oswald";
    font-size: 30px;
    margin-right: 50px;
}

.preach_time,
.preach_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
}

.preach_time{
    margin-top: -25px;
}

.faith {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 50px;
    
}

.faith_title{
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.faith_time,
.faith_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
}

.faith_time{
    margin-top: -25px;
}

.launching {
    grid-column: 3 / 4; 
    grid-row: 1 / 2;
    margin-right: 50px;
}

.launching_title{
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.launching_time,
.launching_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

.launching_time{
    margin-top: -25px;
}

.faith_card,
.preach_card,
.launching_card,
.expia_card,
.revelations_card,
.jesus_card,
.mormon_card {
    width: 350px;
    height: 400px;
    border: 5px solid #265f53;
}

.teachings {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 50px;
}

.teachings_title,
.faith2_title,
.expia_title,
.revelations_title,
.jesus_title,
.mormon_title {    
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.teachings_time,
.teachings_teacher,
.faith2_time,
.faith2_teacher,
.expia_teacher,
.expia_time,
.revelations_time,
.revelations_teacher,
.jesus_teacher,
.jesus_time,
.mormon_teacher,
.mormon_time {
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

.revelations_title
{
    margin-left: 120px;
}
.jesus_title{
    margin-left: 110px;
}

.new_time,
.teachings_time,
.faith2_time,
.jesus_time,
.mormon_time {
    margin-top: -25px;
}

.new {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 30px;
}

.new_title{
    text-align: center;
    font-family: "Oswald";
    margin-right: 50px;
    font-size: 30px;
}

.new_time,
.new_teacher{
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
}

.faith2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-right: 30px;
    
}

.teachings_card,
.new_card,
.faith2_card {
    width: 350px;
    height: 400px;
    border: 5px solid #265f53;
}

.faith_on {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 50px;
}

.launching_on_title,
.faith_on_title {   
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 70px;
}

.launching_on_time,
.launching_on_teacher,
.faith_on_time,
.faith_on_teacher{

    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

.new_on {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-left: 30px;
}

.new_on_title{
    text-align: center;
    font-family: "Oswald";
    margin-right: 50px;
    font-size: 30px;
}

.new_on_time,
.new_on_teacher,
.new_on_time2{

    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
}

.launching_on {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-right: 30px;
    
}

.new_on_time,
.new_on_time2,
.launching_on_time,
.faith_on_time,
.expia_time,
.revelations_time{

    margin-top: -25px;
}

.preach_reg,
.new_reg,
.new_on_reg,
.expia_reg,
.jesus_reg,
.mormon_reg
{
    margin-top: -20px;
    text-align: center;
    margin-right: 30px;
    background-color: #265f53;
    height: 1px;
    border-radius: 10px;
    padding-top: 20px;
}

.faith_reg,
.teachings_reg,
.faith_on_reg,
.revelations_reg{
    margin-top: -20px;
    text-align: center;
    margin-right: 30px;
    background-color: #265f53;
    height: 1px;
    border-radius: 10px;
    padding-top: 20px;
}

.faith_reg:hover,
.teachings_reg:hover,
.faith_on_reg:hover{
    color: white;
    background-color: #0a0061;
}

.preach_reg:hover,
.new_reg:hover,
.new_on_reg:hover{
    color: white;
    background-color: #0a0061;
}

.launching_reg,
.faith2_reg,
.launching_on_reg{
    margin-top: -20px;
    text-align: center;
    margin-right: 30px;
    background-color: #265f53;
    height: 1px;
    border-radius: 10px;
    padding-top: 20px;
}

.launching_reg:hover,
.faith2_reg:hover,
.launching_on_reg:hover,
.expia_reg:hover,
.revelations_reg:hover,
.jesus_reg:hover,
.mormon_reg:hover{
    color: white;
    background-color: #0a0061;
}

.faith_on_card,
.new_on_card,
.launching_on_card {
    width: 350px;
    height: 400px;
    border: 5px solid #265f53;
}

.class_grid{
    margin-bottom: 100px;
}


/*Leadership Page*/

.leader_grid{
    margin-bottom: 100px;
}

.leader_title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Abril Fatface";
    border: 10px solid #070c25;
    margin-top: 5px;
}

.main_leader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    background-color: #0a0061;
    border-radius: 15px;
}

.explanation{
    background-color: #265f53;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.explanation_text{
    font-family: "Oswald";
    font-size: 30px;
}

.presidency{
    font-size: 30px;
    font-family: "Oswald";
    margin-left: 650px;
    margin-right: 300px;
    background-color: #265f53;
    border-radius: 5px;
    margin-bottom: -100px;
    color: white;
    

}

.president_main,
.vice_president_main,
.secretary_main{
    margin-top: 100px;
    margin-left: 20px;
}

.coordinator_main{
    margin-left: 15px;
}

.coordinator{
    text-align: center;
    background-color: #265f53;
    font-family: "Oswald";
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
}

.name_adonai{
    text-align: center;
    font-family: "Oswald";
    font-size: 25px;
    margin-top: 5px;
    color: white;
    border: 5px solid white;
}

.president,
.vice_president,
.secretary{
    text-align: center;
    background-color: #265f53;
    font-family: "Oswald";
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
}

.name_oliver,
.name_pedro,
.name_laleska{
    text-align: center;
    font-family: "Oswald";
    font-size: 20px;
    margin-top: 5px;
    color: white;
    border: 5px solid white;
}

.secretary_main{
    margin-right: 20px;
}

.committees_title{
    font-size: 30px;
    font-family: "Oswald";
    margin-left: 480px;
    margin-right: 450px;
    background-color: #265f53;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
    text-align: center;
    
}

.leader_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.act_com_title,
.mid_com_title,
.reg_com_title,
.miss_com_title,
.wel_com_title{
    background-color: #265f53;
    font-family: "Oswald";
    font-size: 30px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
    
    
}

.miss_com_title{
    margin-right: 65px;
    margin-left: 65px;
    text-align: center;
}

.wel_com_title{
    margin-right: 50px;
    margin-left: 60px;
    text-align: center;
}

.act_com_title{
    margin-right: 50px;
    margin-left: 60px;
    text-align: center;
}

.mid_com_title{
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
}

.reg_com_title{
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}

.act_leader,
.mid_leader,
.reg_leader{
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 80px;
    margin-bottom: 5px;
}

.act_leader,
.act_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.mid_leader,
.mid_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.reg_leader,
.reg_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.miss_leader,
.miss_super,
.wel_leader,
.wel_super{
    margin-left: 135px;
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
}

.wel_super{
    margin-left: 120px;
}

.act_super{
    margin-left: 120px;
}

.mid_super,
.miss_super{
    margin-left: 120px;
}

.reg_super{
    margin-left: 120px;
}

.name_raymom,
.name_bruna2{
    margin-left: 100px;
    font-size: 20px;
    font-family: "Oswald";
    margin-top: 5px;
    color: white;
}

.name_natalia,
.name_bruna1,
.name_gaby{
    margin-left: 100px;
    font-size: 20px;
    font-family: "Oswald";
    margin-top: 5px;
    color: white;
}

.name_luana,
.name_danilo,
.name_douglas,
.name_karol,
.name_daniel{
    margin-left: 130px;
    font-size: 20px;
    font-family: "Oswald";
    margin-top: 5px;
    color: white;
}

.activities_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.midia_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.registration_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.missionary_com{
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.welfare_com{
    grid-column: 3 / 4;
    background-color: #0a0061;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 100px;
    padding-bottom: 20px;
}

.adonai{
    width: 300px;
    height: 400px;
    border: 5px solid #f65802;
}

.oliver{
    width: 300px;
    height: 300px;
    border: 5px solid #f65802;
}
.pedro{
    width: 300px;
    height: 300px;
    border: 5px solid #f65802;
}
.laleska{
    width: 300px;
    height: 300px;
    border: 5px solid #f65802;
}
.raymom,
.daniel{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.bruna2{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.natalia{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.bruna1{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.luana{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.danilo{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.gaby{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.douglas{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}
.karol{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 5px solid #f65802;
}

.act_members,
.mid_members,
.reg_members,
.miss_members,
.wel_members{
    background-color: #265f53;
    padding: 15px;
    border-radius: 5px;
}

/*Gradution Page*/

.requirements_title{
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 80px;
    border: 10px solid #070c25;
    padding-bottom: 25px;
    margin-top: 5px;
}

.requirements_sub{
    text-align: center;
    margin-left: 50px ;
    margin-right: 50px;
    font-family: "Oswald";
    font-size: 35px;
    background-color: #265f53;
    margin-top: -20px;
    margin-bottom: 70px;
}

.graduation_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.fundamental_credits,
.elective_credits,
.fundamental_title,
.elective_title{
    font-size: 30px;
    font-family: "Oswald";
    border: 5px solid #070c25;
    background-color: #070c25;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    grid-row: 1/1;
}

.fundamental_courses{
    grid-column: 1/2;
    grid-row: 2/3;
}

.elective_title,
.fundamental_title{
    margin-top: -18px;
}

.f_courses,
.e_courses{

    margin-top: 10px;
    font-size: 25px;
    border: 5px solid black;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: -30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
}

.advanced{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    margin-top:50px;
    margin-bottom: 100px;
}

.adv{
    text-align: center;
    margin-top: 50px;
}

.advanced_title{
    font-family: "Oswald";
    font-size: 50px;
    background-color: #070c25;
    color: white;
    margin-left: 65px;
    margin-right: 65px;
}

.advanced_subtitle{
    font-family: "Oswald";
    font-size: 30px;
    background-color: #265f53;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: -20px;
}

.one_title,
.two_title,
.three_title{
    grid-column: 1/2;
    background-color: #ff0404;
    font-family: "Oswald";
    font-size: 25px;
    margin-left: 65px;
    margin-right: 65px;
    color: white;
    padding: 10px;
}

.one_requirements,
.two_requirements,
.three_requirements{
    grid-column: 2/3;
    border: 5px solid #070c25;
    font-family: "Oswald";
    font-size: 30px;
    margin-left: 65px;
    margin-right: 65px;
    background-color: white;

}




/*Activities Committee*/

.sidenav{
    height: 100%;
    width: 160px;
    z-index: 1;
    background-color: #070c25;
    overflow-x: hidden;
    padding-top: 20px;
    grid-column: 1/2;
    grid-row: 1/9;
    margin-top: -25px;
}

.sidenav a{
    padding: 8px 10px 6px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    font-family: "Oswald";
}


.content_act{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.name_cmt{
    text-align: center;
    font-size: 25px;
    font-family: "Oswald";
    margin-left: -100px;
    margin-top: 0px;
    margin-bottom: 40px;
}


.act_cmt:hover{
    background-color: #f65802;
}

.med_cmt:hover{
    background-color: #f65802;
}

.reg_cmt:hover{
    background-color: #f65802;
}

.miss_cmt:hover{
    background-color: #f65802;
}

.wel_cmt:hover{
    background-color: #f65802;
}

.raymom_cmt, .bruna2_cmt,
.alice_cmt, .daniel_cmt,
.edinaldo_cmt, .gidinilson_cmt, 
.gregory_cmt, .izabele_cmt,
.kevin_cmt, .rodolfo_cmt,
.ruan_cmt, .lorena_cmt,
.thiffany_cmt, .ticiane_cmt,
.emanuel_cmt {
    height: 250px;
    width: 250px;
    border: 3px solid #265f53;
    margin-top: 30px;
}

.title_act_cmt{
    text-align: center;
    background-color: #265f53;
    margin-top: -34px;
}

.explanation_act{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    font-family: "Oswald";
    margin-top: -20px;
}

.act_cmt, .med_cmt,
.reg_cmt, .miss_cmt,
.wel_cmt {
    margin-top: 60px;
}

.text_act_cmt{
    font-family: "Abril Fatface";
    font-size: 50px;
    background-color: #f69425;
    border: 10px solid #070c25;
    margin-top: 35px;
}

/*Photos Page*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .ph_act{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
    border: 3px solid #265f53;
  }

  .b1, .b2, .b3{
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    background-color: #070c25;
    color: white;
    font-family: "Oswald";
    font-size: 20px;
  }

  .b1:hover,
  .b2:hover,
  .b3:hover{
    background-color: #f65802;
    width: 130px;
    height: 70px;
  }

  .gallery{
    font-family: "Abril Fatface";
    text-align: center;
    font-size: 60px;
    border: 10px solid #070c25;
    margin-top: 5px;
  }



  /* ... (seu CSS existente) */

/* Consulta de mídia para dispositivos móveis */
@media only screen and (max-width: 600px) {
  #content {
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    font-size: 14px;
  }

  header {
    grid-template-columns: 100%;
  }

  header {
    margin-left: 0; /* Remove a margem à esquerda para telas pequenas */
}

nav {
    flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
    margin-top: -20px;
    
}

nav a {
    padding: 5px; /* Reduz ainda mais o espaço ao redor dos links em telas pequenas */
}
.index{
    border: 3px solid #f69425;
    
}


  .logo {
    width: 100px;
    margin-left: 150px;
  }

  .last_logo {
    width: 80px;
    margin-right: 10px;
  }

  .hero_image {
    width: 100%;
    margin-left: 0;
  }

  .prophet_text {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
  }

  .prophet {
    float: none;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 80%; /* ou qualquer largura desejada para telas menores */
    margin-top: 20px; /* ajuste conforme necessário */
    border: 10px solid #265f53;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 40px;
}

.prophet_message {
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    color: #0a0061;
    font-family: "Oswald";
    text-align: center;
    padding-top: 20px; /* ajuste conforme necessário */
    font-size: 25px;
    margin-top: -20px;
}

.prophet_grid {
    height: auto; /* ou qualquer altura desejada para telas menores */
    background-color: #265f53;
}

.attend_title {
    font-size: 30px; /* ou qualquer tamanho desejado para telas menores */
    margin-left: 20px; /* ajuste conforme necessário */
    margin-top: 20px; /* ajuste conforme necessário */
    color: #f65802;
    -webkit-text-stroke: #070c25;
    -webkit-text-stroke-width: 1px;
    text-align: center;
}

.attend_subtitle {
    margin-top: 20px; /* ajuste conforme necessário */
    text-align: center;
    padding-bottom: 10px; /* ajuste conforme necessário */
}

.attend{
    float: none;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 80%; /* ou qualquer largura desejada para telas menores */
    margin-top: 20px; /* ajuste conforme necessário */
    padding: 10px;
    box-sizing: border-box;
    margin-left: 40px;
}

.msg_1,
.msg_2,
.msg_3,
.msg_4,
.msg_5 {
    font-size: 15px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
    margin-left: 20px; /* ajuste conforme necessário */
    background-color: #070c25;
    margin-top: 10px; /* ajuste conforme necessário */
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 15px;
}
#button_box {
    text-align: center;
    padding-bottom: 15px; /* ajuste conforme necessário */
    background-color: #265f53;
    margin-right: 20px; /* ajuste conforme necessário */
    margin-left: 20px; /* ajuste conforme necessário */
    margin-top: 20px; /* ajuste conforme necessário */
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
    border-radius: 5px;
}

.know {
    color: white;
}

#button_box:hover {
    background-color: #0a0061;
    color: #f65802;
}

.subtitle_2 {
    text-align: center;
    padding-bottom: 10px;
    font-family: "Oswald";
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
}

.home_grid {
    margin-bottom: 50px; /* ajuste conforme necessário */
}

/* Activities Page */

.activities_grid {
    margin-bottom: 100px; /* ajuste conforme necessário */
}

.photos {
    background-color: #265f53;
    border-radius: 10px;
    padding: 15px 20px; /* ajuste conforme necessário */
    margin-top: 20px; /* ajuste conforme necessário */
    margin-bottom: -20px; /* ajuste conforme necessário */
}

.photos:hover {
    background-color: #0a0061;
}

.activities_main {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Abril Fatface";
    border: 5px solid #070c25;
    margin-top: 5px;
}

.activities_text {
    margin-bottom: 50px; /* ajuste conforme necessário */
    margin-right: 20px; /* ajuste conforme necessário */
    margin-left: 20px; /* ajuste conforme necessário */
    justify-content: center;
    font-size: 16px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
}

.activities_title {
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    color: #0a0061;
    font-family: "Oswald";
    text-align: center;
    padding-top: 20px; /* ajuste conforme necessário */
}

.volleyball {
    width: 100%; /* ajuste conforme necessário */
    max-width: 500px; /* ou qualquer valor desejado para telas menores */
    margin: 20px auto; /* ajuste conforme necessário */
    box-sizing: border-box;
    border: 5px solid #265f53;
    margin-top: 20px;
}

.past {
    text-align: center;
    padding-bottom: 15px; /* ajuste conforme necessário */
    font-size: 25px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
    background-color: #265f53;
    margin-right: 20px; /* ajuste conforme necessário */
    margin-left: 20px; /* ajuste conforme necessário */
    border-radius: 10px;
}

.past_msg {
    text-align: center;
    padding-bottom: 15px; /* ajuste conforme necessário */
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
}

.act1,
.act2,
.act3,
.act4,
.act5,
.act6 {
    width: 100%; /* Ajuste conforme necessário */
    margin-left: 0; /* Remova a margem ou ajuste conforme necessário */
    margin-right: 0; /* Remova a margem ou ajuste conforme necessário */
    padding-right: 0; /* Remova o preenchimento ou ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
}

.upcoming {
    text-align: center;
    padding-bottom: 20px; /* Ajuste conforme necessário */
    font-size: 30px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
    background-color: #265f53;
    margin-left: 20px; /* Ajuste conforme necessário */
    margin-right: 20px; /* Ajuste conforme necessário */
    margin-top: 40px; /* Ajuste conforme necessário */
    border-radius: 10px;
}

.upcoming_msg {
    text-align: center;
    padding-bottom: 20px; /* Ajuste conforme necessário */
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
}

.photos{
    margin-top: 50px;
}

/* Classes Page */

.class_title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Abril Fatface";
    border: 5px solid #070c25;
    margin-top: 5px;
}

.class_text {
    text-align: center;
    padding-bottom: 20px; /* Ajuste conforme necessário */
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    font-family: "Oswald";
    margin-right: 20px; /* Ajuste conforme necessário */
    margin-left: 20px; /* Ajuste conforme necessário */
    background-color: #265f53;
}

.class_grid,
.class2024_grid {
    display: block;
   
}

.preach {
    grid-column: auto; /* Ajuste conforme necessário */
    grid-row: auto; /* Ajuste conforme necessário */
    margin-left: 0; /* Remova a margem ou ajuste conforme necessário */
}

.preach_title {
    text-align: center;
    font-family: "Oswald";
    font-size: 20px; /* ou qualquer tamanho desejado para telas menores */
    margin-right: 20px; /* Ajuste conforme necessário */
}

.preach_time,
.preach_teacher {
    font-family: "Oswald";
    font-size: 16px; /* ou qualquer tamanho desejado para telas menores */
    text-align: center;
    margin-right: 20px; /* Ajuste conforme necessário */
}

.preach_time {
    margin-top: -10px; /* Ajuste conforme necessário */
}

/* Ensuring proper viewport scaling */
@viewport {
    width: device-width;
    zoom: 1.0;
}

/* Adjustments for mobile view */
.faith,
.launching,
.teachings,
.new,
.faith2,
.faith_on,
.new_on,
.launching_on,
.faith_card,
.preach_card,
.launching_card,
.teachings_card,
.new_card,
.faith2_card,
.faith_on_card,
.new_on_card,
.launching_on_card,
.preach,
.preach_card,
.expia,
.expia_card,
.revelations,
.revelations_card,
.jesus,
.jesus_card,
.mormon,
.mormon_card {
    width: 100%; /* Ajuste conforme necessário */
    margin-left: 0; /* Remova a margem ou ajuste conforme necessário */
    margin-right: 0; /* Remova a margem ou ajuste conforme necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
    margin-bottom: 50px;
}

.faith_title,
.launching_title,
.teachings_title,
.faith2_title,
.new_title,
.faith_on_title,
.new_on_title,
.launching_on_title,
.expia_title,
.jesus_title,
.mormon_title
 {
    font-family: "Oswald";
    font-size: 25px; /* ou qualquer tamanho desejado para telas menores */
    text-align: center;
    margin-right: 50px;
    margin-bottom: -10px;
}

.preach_title,
.new_title,
.new_on_title,
.revelations_titles{
    font-family: "Oswald";
    font-size: 25px; /* ou qualquer tamanho desejado para telas menores */
    text-align: center;
    margin-right: 50px;
    margin-bottom: -10px;
    margin-left: 40px;
}
/* Classes relacionadas ao time */
.faith_time,
.launching_time,
.teachings_time,
.faith2_time,
.new_time,
.faith_on_time,
.new_on_time,
.new_on_time2,
.launching_on_time,
.preach_time,
.expia_time,
.revelarions_time,
.jesus_time,
.mormon_time {
    font-family: "Oswald";
    font-size: 15px;
    text-align: center;
    margin-right: 10px;
}

/* Classes relacionadas ao teacher */
.faith_teacher,
.launching_teacher,
.teachings_teacher,
.faith2_teacher,
.new_teacher,
.faith_on_teacher,
.new_on_teacher,
.launching_on_teacher,
.preach_teacher,
.expia_teacher,
.revelations_teacher,
.jesus_teacher,
.mormon_teacher {
    font-family: "Oswald";
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    margin-top: -40px;
}

.new_time,
.new_time2,
.launching_on_time,
.faith_on_time {
    margin-top: -15px; /* Ajuste conforme necessário */
}

/* Registration lines */
.preach_reg,
.new_reg,
.new_on_reg,
.faith_reg,
.teachings_reg,
.faith_on_reg,
.launching_reg,
.faith2_reg,
.launching_on_reg,
.expia_reg,
.revelations_reg,
.jesus_reg,
.mormon_reg {
    margin-top: -10px; /* Ajuste conforme necessário */
    text-align: center;
    margin-right: 30px; /* Ajuste conforme necessário */
    margin-left: 20px;
    border-radius: 5px;
    padding-top: 30px; /* Ajuste conforme necessário */
    background-color: #f69425;
    z-index: -1;

}

.new_on_time2{
    margin-top: 3px;
}


/* Hover effect on registration lines */
.faith_reg:hover,
.teachings_reg:hover,
.faith_on_reg:hover,
.preach_reg:hover,
.new_reg:hover,
.new_on_reg:hover,
.launching_reg:hover,
.faith2_reg:hover,
.launching_on_reg:hover {
    color: white;
    background-color: #0a0061;
}

/* Margin adjustment for grid */
.class_grid {
    margin-bottom: 50px; /* Ajuste conforme necessário */
}

/* Ensuring proper viewport scaling */
@viewport {
    width: device-width;
    zoom: 1.0;
}

/* Leader Section */
.leader_grid {
    margin-bottom: 50px;
}

.leader_title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: "Abril Fatface";
    border: 5px solid #070c25;
    margin-top: 5px;
}

.main_leader {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: #0a0061;
    border-radius: 10px;
}

.explanation {
    background-color: #265f53;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.explanation_text {
    font-family: "Oswald";
    font-size: 20px;
}

.presidency {
    font-size: 20px;
    font-family: "Oswald";
    margin-left: 20px;
    margin-right: 20px;
    background-color: #265f53;
    border-radius: 5px;
    margin-bottom: -50px;
    color: white;
}


.president_main,
.vice_president_main,
.secretary_main {
    margin-top: -20px;
    margin-left: 20px;
}

.coordinator_main {
    margin-left: 15px;
}

.coordinator,
.president,
.vice_president,
.secretary {
    text-align: center;
    background-color: #265f53;
    font-family: "Oswald";
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
    margin-right: 20px;
}

.name_adonai,
.name_oliver,
.name_pedro,
.name_laleska,
.name_raymom,
.name_bruna2,
.name_natalia,
.name_bruna1,
.name_gaby,
.name_luana,
.name_danilo,
.name_douglas,
.name_karol,
.name_daniel {
    text-align: center;
    font-family: "Oswald";
    font-size: 15px;
    margin-top: 5px;
    color: white;
    border: 5px solid white;
}

.name_adonai,
.name_oliver,
.name_laleska,
.name_pedro{
    margin-left: -5px;
    font-size: 20px;
    margin-right: 10px;
}

.secretary_main {
    margin-right: 20px;
}

.committees_title {
    font-size: 20px;
    font-family: "Oswald";
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ff0404;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 60px;
    color: white;
    text-align: center;
}

.leader_grid {
    display: block;
    
}

.act_com_title,
.mid_com_title,
.reg_com_title,
.miss_com_title,
.wel_com_title {
    background-color: #265f53;
    font-family: "Oswald";
    font-size: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: white;
    text-align: center;
}

.act_com_title {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.mid_com_title,
.miss_com_title {
    margin-right: 30px;
    margin-left: 30px;
}

.wel_com_title {
    margin-right: 40px;
    margin-left: 40px;
}

.reg_com_title {
    margin-right: 20px;
    margin-left: 20px;
}

.act_leader,
.mid_leader,
.reg_leader {
    font-family: "Oswald";
    font-size: 20px;
    margin-bottom: 5px;
}

.act_leader,
.act_super,
.mid_leader,
.mid_super,
.reg_leader,
.reg_super,
.miss_leader,
.miss_super,
.wel_leader,
.wel_super {
    
    color: #f65802;
    font-family: "Oswald";
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.act_leader,
.mid_leader,
.reg_leader,
.miss_leader,
.wel_leader{
    margin-right: 120px;
    
}

.wel_super {
    margin-left: 40px;
}

.act_super,
.mid_super,
.miss_super,
.reg_super,
.wel_super {
    margin-left: 10px;
}

.name_raymom,
.name_bruna2 {
    margin-left: 0px;
    font-size: 20px;
}

.name_natalia,
.name_bruna1,
.name_gaby {
    margin-left: 0px;
    font-size: 20px;
}

.name_luana,
.name_danilo,
.name_douglas,
.name_karol,
.name_daniel {
    margin-left: 0px;
    font-size: 20px;
}

.activities_com,
.midia_com,
.registration_com,
.missionary_com,
.welfare_com {
    background-color: #0a0061;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 100px;
    padding-bottom: 20px;
}

.adonai,
.oliver,
.pedro,
.laleska,
.raymom,
.daniel,
.bruna2,
.natalia,
.bruna1,
.luana,
.danilo,
.gaby,
.douglas,
.karol {
    width: 332px;
    height: 300px;
    border: 5px solid #f65802;
    margin: 10px 0;
}

.act_members,
.mid_members,
.reg_members,
.miss_members,
.wel_members {
    background-color: #265f53;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

/* Ensuring proper viewport scaling */
@viewport {
    width: device-width;
    zoom: 1.0;
}

/* Activities Committee */
.sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #070c25;
    overflow-x: hidden;
    padding-top: 5px;
    margin-top: 0px;
    text-align: center;
}

.sidenav a {
    padding: 8px 10px 6px 30px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    font-family: "Oswald";
}

.content_act {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.name_cmt {
    text-align: center;
    font-size: 20px;
    font-family: "Oswald";
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 20px;
}

.act_cmt:hover,
.med_cmt:hover,
.reg_cmt:hover,
.miss_cmt:hover,
.wel_cmt:hover {
    background-color: #f65802;
}

.raymom_cmt,
.bruna2_cmt,
.alice_cmt,
.daniel_cmt,
.edinaldo_cmt,
.gidinilson_cmt,
.gregory_cmt,
.izabele_cmt,
.kevin_cmt,
.rodolfo_cmt,
.ruan_cmt,
.lorena_cmt,
.thiffany_cmt,
.ticiane_cmt,
.emanuel_cmt {
    height: 300px;
    width: 300px;
    border: 3px solid #265f53;
    margin-top: 15px;
    margin-left: 45px;
}

.title_act_cmt {
    text-align: center;
    background-color: #265f53;
    margin-top: -17px;
}

.explanation_act {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Oswald";
    margin-top: -10px;
}

.act_cmt,
.med_cmt,
.reg_cmt,
.miss_cmt,
.wel_cmt {
    margin-top: 20px;
    border: 3px solid #f69425;
}

.text_act_cmt {
    font-family: "Abril Fatface";
    font-size: 30px;
    background-color: #f69425;
    border: 5px solid #070c25;
    margin-top: 20px;
}

/* Photos Page */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
    flex: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.ph_act {
    width: 95%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 30px;
    border: 3px solid #265f53;
}

.b1,
.b3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 10px;
    background-color: #070c25;
    color: white;
    font-family: "Oswald";
    font-size: 14px;
}

.b1:hover,
.b3:hover {
    background-color: #f65802;
    width: calc(100% - 30px);
    height: 50px;
}

/* Graduation Page */

.requirements_title {
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 40px; /* Tamanho ajustado para dispositivos móveis */
    border: 5px solid #070c25;
    padding-bottom: 15px; /* Reduzido o padding */
    margin-top: 5px;
}

.requirements_sub {
    text-align: center;
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
    font-family: "Oswald";
    font-size: 25px; /* Tamanho ajustado para dispositivos móveis */
    background-color: #265f53;
    margin-top: -10px; /* Ajustado o espaçamento superior */
    margin-bottom: 30px; /* Reduzido o espaçamento inferior */
}

.graduation_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* Ajustado o tamanho da linha */
    text-align: center;
}

.fundamental_credits,
.elective_credits,
.fundamental_title,
.elective_title {
    font-size: 20px; /* Tamanho ajustado para dispositivos móveis */
    font-family: "Oswald";
    border: 3px solid #070c25;
    background-color: #070c25;
    color: white;
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
    grid-row: auto; /* Ajustado o tamanho da linha */
}

.elective_title,
.fundamental_title {
    margin-top: -10px; /* Ajustado o espaçamento superior */
}

.f_courses,
.e_courses {
    margin-top: 10px;
    font-size: 18px; /* Tamanho ajustado para dispositivos móveis */
    border: 3px solid black;
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.advanced {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* Ajustado o tamanho da linha */
    text-align: center;
    margin-top: 30px; /* Ajustado o espaçamento superior */
    margin-bottom: 60px; /* Reduzido o espaçamento inferior */
}

.adv {
    text-align: center;
    margin-top: 30px; /* Ajustado o espaçamento superior */
}

.advanced_title {
    font-family: "Oswald";
    font-size: 30px; /* Tamanho ajustado para dispositivos móveis */
    background-color: #070c25;
    color: white;
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
}

.advanced_subtitle {
    font-family: "Oswald";
    font-size: 20px; /* Tamanho ajustado para dispositivos móveis */
    background-color: #265f53;
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
    margin-top: -10px; /* Ajustado o espaçamento superior */
}

.one_title,
.two_title,
.three_title {
    grid-column: auto; /* Ajustado o tamanho da coluna */
    background-color: #ff0404;
    font-family: "Oswald";
    font-size: 15px; /* Tamanho ajustado para dispositivos móveis */
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
    color: white;
    padding: 5px; /* Reduzido o padding */
}

.one_requirements,
.two_requirements,
.three_requirements {
    grid-column: auto; /* Ajustado o tamanho da coluna */
    border: 3px solid #070c25;
    font-family: "Oswald";
    font-size: 20px; /* Tamanho ajustado para dispositivos móveis */
    margin-left: 20px; /* Reduzido a margem */
    margin-right: 20px; /* Reduzido a margem */
    background-color: white;
}


.gallery {
    font-family: "Abril Fatface";
    text-align: center;
    font-size: 40px;
    border: 5px solid #070c25;
    margin-top: 5px;
}


  /* Adicione mais estilos conforme necessário para dispositivos móveis */
}
